<p id="notice"><%= notice %></p>
<div class="container">
  
  <br>
  <h1>Boards</h1>
  <div>
      <% @boards.each do |board| %>
        <%= link_to(@board, class: "boardLink") do %>
          <div class="col-md-3 board">
            <h2><%= board.name %></h2>
            <p><%= board.description %></p>
            <%= link_to 'Edit', edit_board_path(board) %>
            <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      <% end %>
  </div>
  <%= link_to 'New Board', new_board_path %>
</div>
