<p id="notice"><%= notice %></p>

<div class = "row">
  <% @boards.each do |board| %>
    <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-6 board-outer">
      <div class = "board-inner">
        <div class="board-panel" style = "background-color: <%= board.color %>;">
		<%= link_to(board) do %>
			<span class="board-sound-count">
				<%= pluralize(board.sounds.count, "sound") %>
			</span>
			<h3><%= board.name %></h3>
			<h5><%= board.description %></h5>
		<% end %>
		<div class="board-tags">
			<span>Tags: </span>
			<% if board.tags.count > 0 %>
				<% board.tags.each do |tag| %>
					<p class = "tag"><%= tag.name %>
				<% end %>
			<% else %>
				<p class = "tag">none</p>
			<% end %>
		</div>
	</div>
      </div>
    </div>
  <% end %>
  <%= link_to new_board_path do %>
	<div class = "col-lg-3 col-md-3 col-sm-6 col-xs-6 board-outer">
		<div class = "board-inner new-board">
			<h3 class = "add-new-board">+</h3>
		</div>
	</div>
  <% end %>
</div>

