<p id="notice"><%= notice %></p>

<div id = "board-sounds">
  <div class = "row">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 sounds-header">
      <h3><%= @sound.name %></h3>
      <div class = "description">
        <i class = "fa fa-play-circle-o" id = "sound-play-pause-<%= @sound.id %>" aria-hidden = "true" onClick="handleAudioImageClick('<%= @sound.id %>')"></i>
        <audio loop id = "<%= @sound.id %>-audio">
          <source src = "<%= @sound.soundAttachment.url %>" type = "audio/mp3">
        </audio>
      </div>
    </div>
    <% if @comments.count > 0 %>
      <%= will_paginate @comments, :class => 'pagination first' %>
        <% @comments.each do |comment| %>
          <%= render 'comment', comment: comment %> 
        <% end %>
      <%= will_paginate @comments %>
    <% else %>
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p id = "empty-content-message">There doesn't seem to be anything here! Be first to comment on this sound.</p>
      </div>
    <% end %>
  </div>
</div>

<div id = "board-info">
  <div class = "row">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 board-info-container">
      <%if logged_in?%>
      <div class = "blank-info"></div>
      <div class = "add-info">
	<h4>Submit a new comment</h4>

	<%= form_for([@board, @sound, @sound.comments.build]) do |f| %>
	  <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="field">
            <%= f.text_area :body, placeholder: "Comment" %>
          </div>
          <div class="actions">
            <%= f.submit 'Submit comment', :class => 'sidebar-buttons' %>
          </div>
  	<% end %>
      </div>
      <div class = "edit-info">
        <%= link_to 'Back to board', board_path(@board), :class => 'sidebar-buttons back-button' %>
        <%= link_to 'Edit this sound', edit_board_sound_path(@board, @sound), :class => 'sidebar-buttons' %>
      </div>
	<% else %>
		<div class="add-info">
			<h4><%= link_to "Log in", login_path %> to post a comment!</h4>
 			<%= link_to 'Back to board', board_path(@board), :class => 'sidebar-buttons back-button' %>
 
		</div>
	<%end%>
    </div>
  </div>
</div>
